<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/headmeta %>
        <title>Welcome <%= user.name %></title>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <h1><%= user.name %> <%= user.lastname %></h1><br/>
            <h2>Your Brands: </h2><br/>
            <nav id="user-brands">
                <ul>
                    <% for(let i = 0; i < user.brands.length; i++) { %>
                        <li><a href="/users/<%= user._id %>/brands/<%= user.brands[i]._id %>"><%= user.brands[i].name %>, <%= user.brands[i].category %></a></li><br/>
                    <% } %><br/>
                </ul>
                <div>
                    <% if(user._id.toString() === sessionId.toString()) { %>
                        <h3><a href="/users/<%= user._id %>/brands/new"><button>Add Brand</button></a></h3>
                       <% } %>
                </div>
            </nav>

            <div id="edit-profile">
                <% if(user._id.toString() === sessionId.toString()) { %>
                    <h3><a href="/users/<%= user._id %>/edit"><button>Edit Profile</button></a></h3>
                    <h3><form action="/users/<%= user._id %>?_method=DELETE" method="POST"><button>Delete Profile</button></form></h3>
                <% } %>
            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>