<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/headmeta%>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>New Brand</title>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <main>
            <h1>Add Brands To Your Profile</h1><br/>
           
            <div class="createError"></div>

            <% if(newBrandMessage) { %>
                    <%= newBrandMessage %>
            <% } %>

            <br/>
            <form action="/users/<%= user._id %>/brands" method="POST" id="newBrand-form">
                Name:      <input type="text" name="name" placeholder="name"><br/>
                Category:  <input type="text" name="category" placeholder="category"><br/><br/>
                         
         

                <h2>Or Select From List</h2>
                
                <select name="brandName">
                    <option value="Select">Select</option>
                    <% for(let i = 0; i < brandsTitles.length; i++) { %>
                        <option value="<%= brandsTitles[i].name %>,<%= brandsTitles[i].category %>" ><%= brandsTitles[i].name %>, <%= brandsTitles[i].category %></option>
                    <% } %>
                    <% for(let i = 0; i < allBrands.length; i++) { %>
                        <option value="<%= allBrands[i].name %>,<%= allBrands[i].category %>" ><%= allBrands[i].name %>, <%= allBrands[i].category %></option>
                    <% }  %>
                </select><br/><br/>

                <input type="submit"><br/>
            </form>

        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script src="/js/newBrandValidation.js"></script>
    </body>
</html>